:root {
    --cor-fundo: #031a2e;
    --cor-principal: #0B0D20;
    --cor-secundaria:  #182379;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;


}


.rodape {
    background-color: var(--cor-secundaria);
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

#container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.conteudo-cartao {
    background-color:var(--cor-principal);
    color: beige;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao {

    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(30% - 4rem);
    height: 20rem;
}

.conteudo-cartao h3 {
    position: absolute;
    border: 1px solid;
    padding: 0.5rem;
    margin: 0.6rem;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}

.conteudo-cartao p{
    margin-top: 1rem;
    padding-top: 4rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}


.resposta-cartao p{
    color: var(--cor-destaque);
    font-weight: 700;
}

.cartao.active .conteudo-cartao{
    transform: rotateY(180deg);
}

.pergunta-cartao,
.resposta-cartao {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.resposta-cartao{
    transform: rotateY(180deg);
    background-color: var(--cor-secundaria);
    border: 4px solid var(--cor-destaque) ;}